<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="zh" data-rel="<%- page.path %>">
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %>wulaphp</title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>wula.php">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("images/logo.png") %>">
        <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/x-icon">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=wula.php' rel='stylesheet' type='text/css'>
        <%- css(isIndex ? 'css/index' : 'css/page') %>
        <script>window.PAGE_TYPE = "<%- page.type %>"</script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                 <%- body %>
            </div>
            <script src="<%- url_for("/js/smooth-scroll.min.js") %>"></script>
        <% } else { %>
            <%- body %>
        <% } %>
        <script src="<%- url_for("/js/common.js") %>"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>
    </body>
</html>