<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } else { %>
  <div class="sidebar">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'guide' ? page.path.replace(/.+\//, '').replace('.html', '') + '-guide' : '' %>">
    <div id="ad"></div>
    <% if (page.title.trim()) { %>
      <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <% } %>
    <%- page.content %>
    <% if (page.type === 'guide') { %>
      <div class="guide-links">
        <% let prePage = site.pages.find({ type: page.type, order: {'$lt':page.order} }).sort('order') %>
        <% let nextPage = site.pages.find({ type: page.type, order: {'$gt': page.order } }).sort('order') %>
        <% if(prePage && prePage.data.length>=1) { %>
          <span>← <a href="<%- url_for(prePage.data[prePage.data.length-1].path) %>"><%- prePage.data[prePage.data.length-1].title %></a></span>
        <% } %>
        <% if(nextPage && nextPage.data.length>=1) { %>
          <span style="float:right"><a href="<%- url_for(nextPage.data[0].path) %>"><%- nextPage.data[0].title %></a> →</span>
        <% } %>
      </div>
    <% } %>
    <div class="footer">
      发现错误？想参与编辑？
      <a href="https://github.com/ninggf/wulaphp.com/edit/source/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank">
         在 Github 上编辑此页！
      </a>
    </div>
</div>